<html>
<head>
    <title>ADMIN</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <style>
    body { 
        font-family: Arial;
        background-color: #337ab7;
        padding: 50px;
    }
</style>
</head>
<body>
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Welcome Admin!</h1>
            </div>
            
            <div class="login-form">
            
            <input type="button" class="btn btn-success" value="Tổng số học viên" onclick="window.location.href='/user'" />
            </br>
            <input type="button" class="btn btn-success" value="Số học viên đang trên lớp" onclick="window.location.href='/useronline'" />
            <br>
            <br>
            <br>
            <input type="button" class="btn btn-success" value="Tạo một học viên" onclick="window.location.href='/create'" />
            </br>
            <input type="button" class="btn btn-success" value="Xóa một học viên" onclick="window.location.href='/delete'" />
            </br>
            <br>
            <br>
            
            <input type="button" class="btn btn-success" value="Logout" onclick="window.location.href='/logout'" />
            <br>
    </div>
</div>
</div>




</body>
</html>
