<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 

<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>
<style>.bootstrap-iso .btn-success {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #337ab7;
}</style>
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <h1 style="color:#147698; margin-top:20px; font-family: initial" ><b>Xóa dữ liệu học viên</b></h1>
    <br>
    <br>
    <form class="form-horizontal" method="post" action="" role="form">
      {{ form.csrf }}
      <p style="color:#000000bd"><i>Xem danh sách User hiện tại</i></p>
      <div class="form-group ">
        <label class="control-label col-sm-2" for="name">
         User
       </label>
       <div class="col-sm-10">
        <input type="button" class="btn btn-success " onclick="window.location.href='/user'" value="List User"></input>
        
      </div>
    </div>
    

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    
    {% for message in messages %}
    {% if "Error" not in message[1]: %}
    <div class="alert alert-info">
     <strong> </strong> {{ message[1] }}
   </div>
   {% endif %}
   
   {% if "Error" in message[1]: %}
   <div class="alert alert-warning">
     {{ message[1] }}
   </div>
   {% endif %}
   {% endfor %}
   {% endif %}
   {% endwith %}
   <br>
   <p style="color:#000000bd"><i>Nếu bạn chắc chắn muốn xóa, nhập lại chính xác xuống form bên dưới và DELETE</i></p>
   <div class="form-group ">
    <label class="control-label col-sm-2" for="uid">
     UID
   </label>
   <div class="col-sm-10">
     <input class="form-control" id="uid" name="uid" type="text"/>
   </div>
 </div>
 <div class="form-group ">
  <label class="control-label col-sm-2" for="id">
   ID
 </label>
 <div class="col-sm-10">
   <input class="form-control" id="id" name="id" type="text"/>
 </div>
</div>
<div class="form-group ">
  <label class="control-label col-sm-2" for="name">
   Name
 </label>
 <div class="col-sm-10">
   <input class="form-control" id="name" name="name" type="text"/>
 </div>
</div>
<div class="form-group">
  <div class="col-sm-10 col-sm-offset-2">
   <button class="btn btn-primary " name="submit" type="submit">
    DELETE
  </button>
  <input type="button" class="btn btn-success " onclick="window.location.href='/logout'" value="Logout"></input>       
</div>
</div>
</form>
</div>
</div>
</div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
	$(document).ready(function(){
		var date_input=$('input[name="date"]'); 
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
	})
</script>
