<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" /> 
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
<style>.bootstrap-iso .btn-success {color: #ffffff;background-color: #337ab7;border-color: #337ab7;}.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: white !important;} .asteriskField{color: red;}</style>
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12">
    <form class="form-horizontal" action="/statistic" method="POST">
     <div class="form-group ">
         <h3 style="color:#147698; margin-top:50px;" >Nhập khoảng thời gian để lấy dữ liệu thống kê từ From đến To</h3>
         <br>
         <br>
      <label class="control-label col-sm-2" for="id">
       ID
      </label>
      <div class="col-sm-10">
       <input class="form-control" id="id" name="id" placeholder="Type a ID" type="text"/>
      </div>
     </div>
     <br>
     <div class="form-group ">
      <label class="control-label col-sm-2" for="name">
       Name
      </label>
      <div class="col-sm-10">
       <input class="form-control" id="name" name="name" placeholder="Type a Name" type="text"/>
      </div>
     </div>
     <div class="form-group ">
            <br>
      <label class="control-label col-sm-2 requiredField" for="date">
       From
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class="col-sm-10">
       <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-calendar-minus-o">
         </i>
        </div>
        <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
       </div>
      </div>
     </div>
     <div class="form-group ">
            <br>
      <label class="control-label col-sm-2 requiredField" for="date1">
       To
       <span class="asteriskField">
        *
       </span>
      </label>
      <div class="col-sm-10">
       <div class="input-group">
        <div class="input-group-addon">
         <i class="fa fa-calendar-plus-o">
         </i>
        </div>
        <input class="form-control" id="date1" name="date1" placeholder="MM/DD/YYYY" type="text"/>
       </div>
      </div>
     </div>
     <br>


     <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
       <button class="btn btn-primary " name="submit" type="submit">Get</button>
       <input type="button" class="btn btn-success " onclick="window.location.href='/logout'" value="Return Home"></input>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
	$(document).ready(function(){
		var date_input=$('input[name="date"]'); 
		var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
		date_input.datepicker({
			format: 'mm/dd/yyyy',
			container: container,
			todayHighlight: true,
			autoclose: true,
		})
	})
</script>
<script>
        $(document).ready(function(){
            var date_input=$('input[name="date1"]'); 
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'mm/dd/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })
    </script>
    
